@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.bg-nav {
  background-color: #a8a8e7;
}

.navbar-nav {
  display: flex;
  padding: 10px;
}
.navbar-nav .nav-link {
  font-weight: bold;
}
.navbar-nav .nav-link:hover {
  color: rgb(255, 253, 153);
}
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.navbar-nav .nav-link:hover::after {
  background-color: rgb(255, 253, 153);
  transition: background-color 0.3s ease;
}

.container-fluid {
  color: rgb(255, 253, 153);
}

.navbar-brand img {
  width: 140px;
  margin: 0px 0px 0px 30px;
}

.navbar-toggler {
  --bs-border-width: solid $navbar-color;
  border: 2px solid rgb(255, 253, 153);
  color: transparent;
}
.navbar-toggler .bi {
  color: rgb(255, 253, 153);
}

.navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.7vw;
  text-align: center;
  font-weight: bold;
  position: relative;
  margin: 0 5px;
}

.btn-outline-success {
  font-size: 1.5vw;
  margin: 10px 40px;
  border-width: 0.15vw;
  font-weight: bold;
  color: rgb(255, 253, 153);
  border-color: rgb(255, 253, 153);
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: none;
}
.btn-outline-success:hover {
  background-color: rgb(255, 253, 153);
  color: #7474e9;
  border-color: rgb(255, 253, 153);
}

.container p {
  font-size: 1.3vw;
}
.container .logo-footer {
  width: 11vw;
}
.container .nav-item {
  font-size: 1.3vw;
}

.matt {
  max-width: 100%;
  object-fit: cover;
  height: 90vh;
  border-radius: 0;
  border: none;
  padding: 30px;
}
.matt .row {
  margin: 0px;
  padding: 0px;
}

.card-body {
  margin: 30px;
}

.card-title {
  font-size: 3vw;
  font-weight: bold;
}

.card-text {
  font-size: 1.5vw;
  margin: 10px 50px 20px 0px;
}

.cards {
  display: block;
}

.bg {
  background-image: url("../Imagenes/Cielo.jpg");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0px;
  border-radius: 0;
  border: none;
}
.bg h2 {
  font-weight: bold;
  font-size: 3vw;
  color: #191919;
  letter-spacing: 2px;
}

.cards {
  text-align: center;
  padding: 20px 50px 100px 50px;
  background-color: #a8a8e7;
  background-image: url("../Imagenes/Cielo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
}

.cards__body {
  display: inline-block;
  text-align: left;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  width: calc(50% - 10px);
  margin-bottom: 40px;
  overflow: hidden;
  transition: 1s;
}
.cards__body:hover {
  transform: scale(1.1, 1.1);
}
.cards__body img {
  max-width: 100%;
  object-fit: cover;
  margin: auto;
  padding: 10px;
}
.cards__body h2 {
  font-size: 2.7vw;
  padding: 5px 20px;
  font-weight: bold;
}
.cards__body p {
  font-size: 1.5vw;
  padding: 5px 20px;
}

.bg-header {
  padding: 80px 40px;
  background-image: url("../Imagenes/Cielo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.bg-header .card__header {
  width: 100%;
  text-align: left;
  background-color: white;
  border-radius: 15px;
  border: 3px solid rgb(255, 253, 153);
  max-width: 100%;
  object-fit: cover;
  margin: auto;
  padding: 10px;
}
.bg-header .card__header:hover {
  transition: 1s;
  box-shadow: 2px 2px rgb(255, 253, 153);
}
.bg-header h3 {
  font-weight: bold;
  text-align: center;
  font-size: 1.7vw;
  color: #a8a8e7;
}
.bg-header hr {
  border-top: 2px solid #7474e9;
  margin: 10px 0;
}
.bg-header p {
  padding: 10px;
  font-size: 1.5vw;
  color: #a8a8e7;
}

.abotme-title {
  color: inherit;
  text-decoration: none;
}
.abotme-title .bi {
  color: rgb(255, 253, 153);
}
.abotme-title.-linkedin {
  margin-left: 10px;
}

.card-bodyaboutme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-bodyaboutme img {
  border-radius: 10px;
  margin: 10px 30px;
  width: 20%;
}

@media screen and (max-width: 891px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .cards__body {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .matt {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 15px;
    height: 100%;
  }
  .card-body {
    margin: 10px;
  }
}
@media screen and (max-width: 900px) {
  .card-title {
    font-size: 50px;
  }
  .card-text {
    font-size: 18px;
  }
  .bg h2 {
    font-size: 40px;
  }
  .cards__body h2 {
    font-size: 40px;
  }
  .cards__body p {
    font-size: 18px;
  }
  .bg-header h3 {
    font-size: 30px;
  }
  .bg-header p {
    font-size: 18px;
  }
  .container p, .nav a {
    font-size: 18px;
  }
  .navbar-nav a, .navbar-nav.mx-auto a {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .card-bodyaboutme {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .card-bodyaboutme img {
    width: 80%;
    justify-items: center;
    margin: 0px;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo-footer {
    width: 90px;
    order: 2;
    margin: 20px;
  }
  .nav {
    order: 3;
  }
  .nav-link {
    padding: 0px;
  }
}
@media screen and (max-width: 400px) {
  .navbar-brand img {
    margin-left: 0px;
    max-width: 60%;
  }
}
@media screen and (max-width: 909px) {
  .cards__body {
    transform: none;
  }
}
@media screen and (min-width: 2000px) {
  .cards__body {
    width: 30%;
    margin: 30px;
  }
  .bg {
    padding: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
